<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiscUtils.Core" version="0.16.13" targetFramework="net461" />
  <package id="DiscUtils.Ntfs" version="0.16.4" targetFramework="net461" />
  <package id="DiscUtils.Streams" version="0.16.4" targetFramework="net461" />
  <package id="DiscUtils.Vhd" version="0.16.4" targetFramework="net461" />
</packages>